<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Home</title>
  <link rel="stylesheet" href="../stylesheets/{{style}}">
</head>

<body>
  <div class="bg1">

  </div>

  <nav>
    <div class="nav-left">
      <a href="/"> <img class="logo" src="images/logo1.png"></a>

    </div>
    <div class="nav-right">

      <div class="nav-button">
        <a href="/">Home</a>
      </div>
      <div class="nav-button">
        <a href="/calculate">Calculate</a>
      </div>
      <div class="nav-button">
        <a href="/personal">How Co2 Generated</a>
      </div>


    </div>
  </nav>

  <div class="content">
    <div class="left-content">
      <img src="images/calc.jpg">
    </div>
    <div class="right-content">
      <div class="box">
        <form action="/calculate" method="post">
          <h1><img src="images/calc-icon1.png"> Calculate</h1>
          <div class="box-ques">
            <div class="ques">
              <p>The material: <strong id="material-placeholder"></strong> </p>
  
            </div>
            <input id="material" name="material" type="text" placeholder="Name of material">
            <div class="ques">
            <p>Quantity: <strong id="weight-placeholder"></strong></p>

            </div>
            <input id="weight" name="weight" type="text" placeholder="weight">
            <!-- <div class="ques">
              <p>Q. Calculation method</p>
            </div>
            <select name="method" id="method">
              <option value="ar4">Ar4</option>
              <option value="ar5">Ar5</option>
            </select>
            -->
            <button id="submit" type="submit" name="button">Calculate</button>
          </div>
        </form>
        <div class="result">
          <div class="result-h">
            <h3>{{output.name}}</h3>
            <h3>Total carbon emission (CO2e) {{co2Value.value}} kg</h3>
            <a href="/history/{{userId.value}}">History</a>
            {{!-- <a href="/history/{{userId.value}}">Genarate PDF</a> --}}
          </div>


        </div>
      </div>


    </div>

  </div>


  </div>
  </div>
<script>
 document.getElementById("material").addEventListener("keydown", (event) => {
    const material = document.getElementById("material").value;
    const unitOutput = document.getElementById("weight");
    const weightPlaceholder = document.getElementById("weight-placeholder")
    const materialPlaceholder = document.getElementById("material-placeholder");
    const dropdown = document.getElementById("dropdown");
    async function call() {
        const url = "https://beta3.api.climatiq.io/search?query=" + material;
        const response = await fetch(url, {
            method: "GET",
            headers: {
                Authorization: "Bearer " + "XZXDVM3S2G4KTYQVCV3MMM61GEKF",
            },
        });
        const data = await response.json();
        const output = data.results;
        unitOutput.placeholder = output[1].unit.substring(3);
        materialPlaceholder.innerHTML = output[1].name;
        weightPlaceholder.innerHTML = output[1].unit.substring(3);
    }
    call();
});

            </script>

</body>

</html>